@inherits LayoutComponentBase

<div class="page">
    <div class="navbar">
        <a href="/">Aristokeides</a>
        <div>
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity?.Name!</span>
                    <a href="/settings" style="margin-left: 16px;">Settings</a>
                    <a href="/logout" style="margin-left: 16px;">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>

    <main class="main-content">
        @Body
    </main>
</div>
